@tailwind base;
@tailwind components;
@tailwind utilities;

.cart-box {
  overflow-y: auto;
}

.cart-box::-webkit-scrollbar {
  display: none;
}

.router-link-active {
  border-bottom: solid 2px #ca8a04;
}
